<div class="row">
	<div class="two-thirds alpha shadow">
		<iframe width="600" height="550" frameborder="0" style="border:0, padding: 0px;" src="https://www.google.com/maps/embed/v1/place?q=Fregatten%2C%20Stenungsund%2C%20Sverige&key=AIzaSyDO-YHZsUoQTFQK5seVNLIBDJhcIz1bNTk"></iframe>
	</div>

	<div id="news" class="one-third omega shadow">
		<h1 style="border-bottom: 2px solif #FF6600;">News</h1>
		<div class="news">
			<div class="title">Glöm inte</div>
			<ul style="margin: 0px;">
				<li>Nätverks kablar</li>
				<li>Sovsäck</li>
				<li>Ett glatt humör</li>
			<ul>
		</div>
		<div class="news">
			<div class="title">Nytt lan snart igen</div>
			Den ?? oktober 2030 ska vi ha ett nytt lan på månen
		</div>
	</div>
</div>