<div class="seats shadow">
	<div class="scene" >Scenen</div>

	<table style="width:100%; margin-bottom: 30px;">
		<tr>
			<td class="seat A1" onclick='pickSeat("A1")'>A1</td>
			<td class="seat A2" onclick='pickSeat("A2")'>A2</td>
			<td class="seat A3" onclick='pickSeat("A3")'>A3</td>
			<td class="seat A4" onclick='pickSeat("A4")'>A4</td>
			<td class="seat A5" onclick='pickSeat("A5")'>A5</td>
			<td class="seat A6" onclick='pickSeat("A6")'>A6</td>
			<td class="seat A7" onclick='pickSeat("A7")'>A7</td>
			<td class="seat A8" onclick='pickSeat("A8")'>A8</td>
			<td class="seat A9" onclick='pickSeat("A9")'>A9</td>
			<td class="path"></td>
			<td class="seat B1" onclick='pickSeat("B1")'>B1</td>
			<td class="seat B2" onclick='pickSeat("B2")'>B2</td>
			<td class="seat B3" onclick='pickSeat("B3")'>B3</td>
			<td class="seat B4" onclick='pickSeat("B4")'>B4</td>
			<td class="seat B5" onclick='pickSeat("B5")'>B5</td>
			<td class="seat B6" onclick='pickSeat("B6")'>B6</td>
			<td class="seat B7" onclick='pickSeat("B7")'>B7</td>
			<td class="seat B8" onclick='pickSeat("B8")'>B8</td>
			<td class="seat B9" onclick='pickSeat("B9")'>B9</td>
		</tr>

		<tr>
			<td class="seat A10" onclick='pickSeat("A10")'>A10</td>
			<td class="seat A11" onclick='pickSeat("A11")'>A11</td>
			<td class="seat A12" onclick='pickSeat("A12")'>A12</td>
			<td class="seat A13" onclick='pickSeat("A13")'>A13</td>
			<td class="seat A14" onclick='pickSeat("A14")'>A14</td>
			<td class="seat A15" onclick='pickSeat("A15")'>A15</td>
			<td class="seat A16" onclick='pickSeat("A16")'>A16</td>
			<td class="seat A17" onclick='pickSeat("A17")'>A17</td>
			<td class="seat A18" onclick='pickSeat("A18")'>A18</td>
			<td class="path"></td>
			<td class="seat B10" onclick='pickSeat("B10")'>B10</td>
			<td class="seat B11" onclick='pickSeat("B11")'>B11</td>
			<td class="seat B12" onclick='pickSeat("B12")'>B12</td>
			<td class="seat B13" onclick='pickSeat("B13")'>B13</td>
			<td class="seat B14" onclick='pickSeat("B14")'>B14</td>
			<td class="seat B15" onclick='pickSeat("B15")'>B15</td>
			<td class="seat B16" onclick='pickSeat("B16")'>B16</td>
			<td class="seat B17" onclick='pickSeat("B17")'>B17</td>
			<td class="seat B18" onclick='pickSeat("B18")'>B18</td>
		</tr>

		<tr><td class="path"></td></tr>

		<tr>
			<td class="seat C1" onclick='pickSeat("C1")'>C1</td>
			<td class="seat C2" onclick='pickSeat("C2")'>C2</td>
			<td class="seat C3" onclick='pickSeat("C3")'>C3</td>
			<td class="seat C4" onclick='pickSeat("C4")'>C4</td>
			<td class="seat C5" onclick='pickSeat("C5")'>C5</td>
			<td class="seat C6" onclick='pickSeat("C6")'>C6</td>
			<td class="seat C7" onclick='pickSeat("C7")'>C7</td>
			<td class="seat C8" onclick='pickSeat("C8")'>C8</td>
			<td class="seat C9" onclick='pickSeat("C9")'>C9</td>
			<td class="path"></td>
			<td class="seat D1" onclick='pickSeat("D1")'>D1</td>
			<td class="seat D2" onclick='pickSeat("D2")'>D2</td>
			<td class="seat D3" onclick='pickSeat("D3")'>D3</td>
			<td class="seat D4" onclick='pickSeat("D4")'>D4</td>
			<td class="seat D5" onclick='pickSeat("D5")'>D5</td>
			<td class="seat D6" onclick='pickSeat("D6")'>D6</td>
			<td class="seat D7" onclick='pickSeat("D7")'>D7</td>
			<td class="seat D8" onclick='pickSeat("D8")'>D8</td>
			<td class="seat D9" onclick='pickSeat("D9")'>D9</td>
		</tr>

		<tr>
			<td class="seat C10" onclick='pickSeat("C10")'>C10</td>
			<td class="seat C11" onclick='pickSeat("C11")'>C11</td>
			<td class="seat C12" onclick='pickSeat("C12")'>C12</td>
			<td class="seat C13" onclick='pickSeat("C13")'>C13</td>
			<td class="seat C14" onclick='pickSeat("C14")'>C14</td>
			<td class="seat C15" onclick='pickSeat("C15")'>C15</td>
			<td class="seat C16" onclick='pickSeat("C16")'>C16</td>
			<td class="seat C17" onclick='pickSeat("C17")'>C17</td>
			<td class="seat C18" onclick='pickSeat("C18")'>C18</td>
			<td class="path"></td>
			<td class="seat D10" onclick='pickSeat("D10")'>D10</td>
			<td class="seat D11" onclick='pickSeat("D11")'>D11</td>
			<td class="seat D12" onclick='pickSeat("D12")'>D12</td>
			<td class="seat D13" onclick='pickSeat("D13")'>D13</td>
			<td class="seat D14" onclick='pickSeat("D14")'>D14</td>
			<td class="seat D15" onclick='pickSeat("D15")'>D15</td>
			<td class="seat D16" onclick='pickSeat("D16")'>D16</td>
			<td class="seat D17" onclick='pickSeat("D17")'>D17</td>
			<td class="seat D18" onclick='pickSeat("D18")'>D18</td>
		</tr>
	</table>
	
	<span class="tip" style="margin-left: 20px; margin-right: 4px"></span>= ledig
	<span class="tip" style="background-color: #F44336; margin-right: 4px; margin-left: 20px;"></span>= upptagen
	<span class="tip" style="background-color: #9C27B0; margin-right: 4px; margin-left: 20px;"></span>= din plats

    {% if authenticated %}
		<div class='tickets'>
			{% for ticket in tickets %}
				<div class='ticket'>
					<div class='number'>nummer: {{ ticket.unique_str_id }}</div>
					{% if ticket.payed %}
						<div class='status'>status: betald</div>
						{% if ticket.position == None %}
							<div class='seat-id'>seat: <span class='button' onclick='pickTicket("{{ ticket.unique_str_id }}");'>välj plats</span></div>
						{% else %}
							<div class='seat-id'>seat: {{ ticket.position.str_id }}</div>
						{% endif %}
					{% else %}
						<div class='status'>status: obetald</div>
						<div class='seat-id'>seat: betala först</div>
					{% endif %}
				</div>
        	{% endfor %}
		</div>
    {% else %}
        <div>
        	Du måste <a style='color: blue; text-decoration: underline; cursor: pointer; ' onclick='loadPage("login")'>logga in</a> för att kunna beställa en plats.
        </div>
    {% endif %}

	<script>
        {% if your_seat != None %}
			$('.{{ your_seat }}').css('background-color', '#9C27B0');
        {% endif %}

        {% for seat in payed_seats %}
			$('.{{ seat }}').css('background-color', '#F44336');
        {% endfor %}
    </script>
</div>